.places{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    flex-wrap: wrap;
  }
  h1{
    text-align: left;
    vertical-align: top;
    font-size: 30px;
    margin-top: 30px;
  }
  .places article{
    width: 390px;
    height: 50px;
    padding: 20px;
    margin: 20px;
    border: 1px solid red;
    border-radius: 4px;
    display: flex;
    justify-content: center;
  }
  .places article h2 {
    font-size: 30px;
  }

